.overlay {
  fill: none;
  pointer-events: all;
}

#menu {
  width: 400px;
  float: right;
  position: relative;
  margin: 0px 0 10px 0;
  padding: 0 0 10px 0;
  box-shadow: 0px 1px 0px #dedede, 0 3px 0 #efefef;
  height: 40px;
  line-height: 40px;
}

#menu > li {
  display: inline;
}

#menu > li > a {
  background-color: #b76661;
  border-radius: 3px;
  padding: 5px 20px;
  transition: background 0.5s ease-out;
  text-decoration: none;
  color: #fff;
}

#menu > li > a:hover {
  background-color: #9d4d48;
}

#menu > li.marked > a {
  background-color: #b2cdcd;
}

#state path {
  stroke: #fff;
  stroke-width: .8px;
  stroke-linejoin: round;
  transition: fill 0.2s ease-out;
}

#state path:hover {
   fill: #5eab1f;
   fill: #999;
   cursor: pointer;    
   pointer-events: all;
}

path.arc {
  pointer-events: none;
  fill: none;
  stroke-opacity: .5;
  display: none;
}

path.cell {
  fill: none;
  pointer-events: all;
  cursor: pointer;
}

.circles {
  fill-opacity: .8;
  stroke: #f1f2f3;
  stroke-width: 1.2px;
}

#cells.voronoi path.cell {
  stroke: brown;
}

#cells g:hover path.arc {
  display: inherit;
}

#pageslide {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 200px;
  padding: 20px;
  background-color: #fafafa;
  color: #666;
  -webkit-box-shadow: inset -1px 0px 6px #afafaf; 
  -moz-shadow: inset -1px 0px 6px #afafaf;
  box-shadow: inset -1px 0px 6px #afafaf;
}
